
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  // fuentes

  --font-poppins: 'Open Sans', sans-serif;

  // colores
  --gris-oscuro: #292522;
  --verde-claro: #b8d6b0;
  --celeste: #6ab1d1;
  --blanco: #e8e8e8;
}